<a class="navbar-brand" href="#">No-FX</a>
<ul class="nav navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="#">{{i18n 'nav.home'}} <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{i18n 'nav.about'}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{i18n 'nav.contact'}}</a>
  </li>
</ul>